# data structure in python 
Tuple: Tuple is fixed length, immutable sequence python object. The easiest way to create a tuple is comma seperated sequence of values

In [1]:
tup=1,2,34,5

In [2]:
tup

(1, 2, 34, 5)

In [3]:
nested_tup=(1,2,3,4,5),(10,90)

In [4]:
nested_tup

((1, 2, 3, 4, 5), (10, 90))

An iterator can be converted to tuple by invoking tuple constructor

In [5]:
tup1=tuple([1,2,4,56,67])

In [6]:
tup1

(1, 2, 4, 56, 67)

In [7]:
s="hello"
tup_s=tuple(s)

In [8]:
tup_s

('h', 'e', 'l', 'l', 'o')

Elements can be accessed with square bracket

In [9]:
tup_s[0],tup_s[2]

('h', 'l')

Objects stored in tuple may be muttable but once the tuple is created it's not possible to modify which object is stored in each slots.

In [10]:
tup_n=(1,2,4,("hello","python"),False)

In [11]:
tup_n[2]=True # not possible

TypeError: 'tuple' object does not support item assignment

Tuple can be concatenabted by + operator

In [12]:
t=tup+tup_n

In [13]:
t

(1, 2, 34, 5, 1, 2, 4, ('hello', 'python'), False)

multiply a tuple by an integer, has the effect by concatenating the together that many copies of tuple

In [14]:
t1=(1,2,4,5)
t1*4

(1, 2, 4, 5, 1, 2, 4, 5, 1, 2, 4, 5, 1, 2, 4, 5)

*Note that the objects themselves are not copied, but reference to them

Unpacking tuples: if we try to assigns a tuples-like expression of varibales, python will a Python will attempt to unpack the value on the righthand side of the equals sign:

In [15]:
t2=(12,13,14)
a,b,c=t2

In [16]:
a

12

In [17]:
c

14

Even sequences with nested tuples can be unpacked:

In [18]:
tup2=(1,23,4,('hello','python'))

In [19]:
a,b,c,(d,e)=tup2

In [20]:
d

'hello'

In [23]:
#swaping variable 
a=10
b=90
temp=a
a=b
b=temp

In [24]:
a,b

(90, 10)

In [25]:
#swaoing using tuple
a=100
b=90
a,b=b,a

In [26]:
a,b

(90, 100)

In [29]:
#Even sequences with nested tuples can be unpacked:
lis=[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in lis:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

The Python language recently acquired some more advanced tuple unpacking to help with situations where you may want to “pluck” a few elements from the beginning of a tuple. This uses the special syntax *rest, which is also used in function signatures to capture an arbitrarily long list of positional arguments:

In [31]:
tup=(1,2,4,54,6,7,8)

In [35]:
a,b,c,*rest = tup

In [36]:
rest

[54, 6, 7, 8]

In [37]:
a

1

In [38]:
b,c

(2, 4)

Tuple methods:  A particularly useful one (also available on lists) is count, which counts the number of occurrences of a value:

In [39]:
a=(1,2,23,13,4,1,1,3,2)

In [40]:
a.count(1)

3

In [41]:
a.count(100)

0

List:
lists are variable-length and their contents can be modified in-place. You can define them using square brackets [] or using the list type function

In [42]:
lis=[1,2,4,'python','java']

In [43]:
lis

[1, 2, 4, 'python', 'java']

In [44]:
tup=('java','python','pascal','javascript')

In [47]:
tup

('java', 'python', 'pascal', 'javascript')

In [50]:
lis=list(tup)

In [51]:
lis

['java', 'python', 'pascal', 'javascript']

In [52]:
lis[0]='ruby'

In [53]:
lis

['ruby', 'python', 'pascal', 'javascript']

Lists and tuples are semantically similar (though tuples cannot be modified) and can be used interchangeably in many functions.

The list function is frequently used in data processing as a way to materialize an iterator or generator expression:

In [54]:
gen=range(10)

In [55]:
gen

range(0, 10)

In [56]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
#Elements can be appended to the end of the list with the append method:
lis=[]

In [59]:
lis

[]

In [60]:
lis.append('python')

In [61]:
lis

['python']

In [62]:
lis.append('java')

In [67]:
lis

['python', 'pascal', 'pascal', 'java']

In [65]:
#Using insert you can insert an element at a specific location in the list:
lis.insert(1,'pascal')
#The insertion index must be between 0 and the length of the list, inclusive.

In [66]:
lis

['python', 'pascal', 'pascal', 'java']

insert is computationally expensive compared with append,because references to subsequent elements have to be shifted internally to make room for the new element. If you need to insert elements at both the beginning and end of a sequence, you may wish to explore collections.deque, a double-ended queue, for this purpose.

In [68]:
#The inverse operation to insert is pop, which removes and returns an element at a particular index:
lis

['python', 'pascal', 'pascal', 'java']

In [69]:
lis.pop()

'java'

In [70]:
lis

['python', 'pascal', 'pascal']

In [71]:
lis.append('c#')

In [72]:
lis

['python', 'pascal', 'pascal', 'c#']

In [73]:
lis.pop()

'c#'

In [74]:
lis

['python', 'pascal', 'pascal']

In [75]:
#Elements can be removed by value with remove, which locates the first such value and removes it from the last:
lis

['python', 'pascal', 'pascal']

In [76]:
lis.remove('pascal')

In [77]:
lis

['python', 'pascal']

In [78]:
#check if an element is in list
'python' in lis

True

In [79]:
#check if an element is not in list
'java' not in lis

True

In [81]:
# adding two lists together with + concatenates them:
l1=[1,23,5,6]
l2=[10,12,14]
l1+l2

[1, 23, 5, 6, 10, 12, 14]

In [82]:
# you can append multiple elements to it using the extend method:
l1

[1, 23, 5, 6]

In [83]:
t=('java','python','pascal')

In [84]:
t

('java', 'python', 'pascal')

In [85]:
l1

[1, 23, 5, 6]

In [87]:
l1.extend(t)

In [88]:
l1

[1, 23, 5, 6, 'java', 'python', 'pascal']

Note that list concatenation by addition is a comparatively expensive operation since a new list must be created and the objects copied over. Using extend to append elements to an existing list, especially if you are building up a large list, is usually preferable. Thus,

In [93]:
list_of_lists=[[1,2,4,5],['hello','java','pascal']]
lis=[]
for item_list in list_of_lists:
    lis.extend(item_list)
#is faster than the concatenative alternative:
lis=[]
for item_list in list_of_list:
    lis=lis+item_list

In [94]:
#we can sort a list in-place (without creating a new object) by calling its sort function:
a=[1,2,5,90,3,4,5,20,10]

In [95]:
a.sort()

In [96]:
a

[1, 2, 3, 4, 5, 5, 10, 20, 90]

sort has a few options that will occasionally come in handy. One is the ability to pass a secondary sort key—that is, a function that produces a value to use to sort the objects. For example, we could sort a collection of strings by their lengths:

In [97]:
lis=['java','c','c++','pascal','python']

In [98]:
lis.sort(key=len)

In [99]:
lis

['c', 'c++', 'java', 'pascal', 'python']

Slicing:-
You can select sections of most sequence types by using slice notation, which in its basic form consists of start:stop passed to the indexing operator []:

In [100]:
lis=[1,23,4,5,6,78,90,12,45,67,89]

In [101]:
lis[1:5]

[23, 4, 5, 6]

In [102]:
#Slices can also be assigned to with a sequence:
lis[3:4]=[100,103]

In [103]:
lis

[1, 23, 4, 100, 103, 6, 78, 90, 12, 45, 67, 89]

In [104]:
lis[1:5]=[101,102,103,104]

In [105]:
lis

[1, 101, 102, 103, 104, 6, 78, 90, 12, 45, 67, 89]

While the element at the start index is included, the stop index is not included, so that the number of elements in the result is stop - start.

Either the start or stop can be omitted, in which case they default to the start of the sequence and the end of the sequence, respectively:

In [106]:
lis[:5]

[1, 101, 102, 103, 104]

In [107]:
lis[3:]

[103, 104, 6, 78, 90, 12, 45, 67, 89]

In [ ]:
#Negative indices slice the sequence relative to the end: