# data structure in python 
Tuple: Tuple is fixed length, immutable sequence python object. The easiest way to create a tuple is comma seperated sequence of values

In [1]:
tup=1,2,34,5

In [2]:
tup

(1, 2, 34, 5)

In [3]:
nested_tup=(1,2,3,4,5),(10,90)

In [4]:
nested_tup

((1, 2, 3, 4, 5), (10, 90))

An iterator can be converted to tuple by invoking tuple constructor

In [5]:
tup1=tuple([1,2,4,56,67])

In [6]:
tup1

(1, 2, 4, 56, 67)

In [7]:
s="hello"
tup_s=tuple(s)

In [8]:
tup_s

('h', 'e', 'l', 'l', 'o')

Elements can be accessed with square bracket

In [9]:
tup_s[0],tup_s[2]

('h', 'l')

Objects stored in tuple may be muttable but once the tuple is created it's not possible to modify which object is stored in each slots.

In [10]:
tup_n=(1,2,4,("hello","python"),False)

In [11]:
tup_n[2]=True # not possible

TypeError: 'tuple' object does not support item assignment

Tuple can be concatenabted by + operator

In [12]:
t=tup+tup_n

In [13]:
t

(1, 2, 34, 5, 1, 2, 4, ('hello', 'python'), False)

multiply a tuple by an integer, has the effect by concatenating the together that many copies of tuple

In [14]:
t1=(1,2,4,5)
t1*4

(1, 2, 4, 5, 1, 2, 4, 5, 1, 2, 4, 5, 1, 2, 4, 5)

*Note that the objects themselves are not copied, but reference to them

Unpacking tuples: if we try to assigns a tuples-like expression of varibales, Python will attempt to unpack the value on the righthand side of the equals sign:

In [15]:
t2=(12,13,14)
a,b,c=t2

In [16]:
a

12

In [17]:
c

14

Even sequences with nested tuples can be unpacked:

In [18]:
tup2=(1,23,4,('hello','python'))

In [19]:
a,b,c,(d,e)=tup2

In [20]:
d

'hello'

In [23]:
#swaping variable 
a=10
b=90
temp=a
a=b
b=temp

In [24]:
a,b

(90, 10)

In [25]:
#swaoing using tuple
a=100
b=90
a,b=b,a

In [26]:
a,b

(90, 100)

In [29]:
#Even sequences with nested tuples can be unpacked:
lis=[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in lis:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

The Python language recently acquired some more advanced tuple unpacking to help with situations where you may want to “pluck” a few elements from the beginning of a tuple. This uses the special syntax *rest, which is also used in function signatures to capture an arbitrarily long list of positional arguments:

In [31]:
tup=(1,2,4,54,6,7,8)

In [35]:
a,b,c,*rest = tup

In [36]:
rest

[54, 6, 7, 8]

In [37]:
a

1

In [38]:
b,c

(2, 4)

Tuple methods:  A particularly useful one (also available on lists) is count, which counts the number of occurrences of a value:

In [39]:
a=(1,2,23,13,4,1,1,3,2)

In [40]:
a.count(1)

3

In [41]:
a.count(100)

0

List:
lists are variable-length and their contents can be modified in-place. You can define them using square brackets [] or using the list type function

In [42]:
lis=[1,2,4,'python','java']

In [43]:
lis

[1, 2, 4, 'python', 'java']

In [44]:
tup=('java','python','pascal','javascript')

In [47]:
tup

('java', 'python', 'pascal', 'javascript')

In [50]:
lis=list(tup)

In [51]:
lis

['java', 'python', 'pascal', 'javascript']

In [52]:
lis[0]='ruby'

In [53]:
lis

['ruby', 'python', 'pascal', 'javascript']

Lists and tuples are semantically similar (though tuples cannot be modified) and can be used interchangeably in many functions.

The list function is frequently used in data processing as a way to materialize an iterator or generator expression:

In [54]:
gen=range(10)

In [55]:
gen

range(0, 10)

In [56]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
#Elements can be appended to the end of the list with the append method:
lis=[]

In [59]:
lis

[]

In [60]:
lis.append('python')

In [61]:
lis

['python']

In [62]:
lis.append('java')

In [67]:
lis

['python', 'pascal', 'pascal', 'java']

In [65]:
#Using insert you can insert an element at a specific location in the list:
lis.insert(1,'pascal')
#The insertion index must be between 0 and the length of the list, inclusive.

In [66]:
lis

['python', 'pascal', 'pascal', 'java']

insert is computationally expensive compared with append,because references to subsequent elements have to be shifted internally to make room for the new element. If you need to insert elements at both the beginning and end of a sequence, you may wish to explore collections.deque, a double-ended queue, for this purpose.

In [68]:
#The inverse operation to insert is pop, which removes and returns an element at a particular index:
lis

['python', 'pascal', 'pascal', 'java']

In [69]:
lis.pop()

'java'

In [70]:
lis

['python', 'pascal', 'pascal']

In [71]:
lis.append('c#')

In [72]:
lis

['python', 'pascal', 'pascal', 'c#']

In [73]:
lis.pop()

'c#'

In [74]:
lis

['python', 'pascal', 'pascal']

In [75]:
#Elements can be removed by value with remove, which locates the first such value and removes it from the last:
lis

['python', 'pascal', 'pascal']

In [76]:
lis.remove('pascal')

In [77]:
lis

['python', 'pascal']

In [78]:
#check if an element is in list
'python' in lis

True

In [79]:
#check if an element is not in list
'java' not in lis

True

In [81]:
# adding two lists together with + concatenates them:
l1=[1,23,5,6]
l2=[10,12,14]
l1+l2

[1, 23, 5, 6, 10, 12, 14]

In [82]:
# you can append multiple elements to it using the extend method:
l1

[1, 23, 5, 6]

In [83]:
t=('java','python','pascal')

In [84]:
t

('java', 'python', 'pascal')

In [85]:
l1

[1, 23, 5, 6]

In [87]:
l1.extend(t)

In [88]:
l1

[1, 23, 5, 6, 'java', 'python', 'pascal']

Note that list concatenation by addition is a comparatively expensive operation since a new list must be created and the objects copied over. Using extend to append elements to an existing list, especially if you are building up a large list, is usually preferable. Thus,

In [93]:
list_of_lists=[[1,2,4,5],['hello','java','pascal']]
lis=[]
for item_list in list_of_lists:
    lis.extend(item_list)
#is faster than the concatenative alternative:
lis=[]
for item_list in list_of_list:
    lis=lis+item_list

In [94]:
#we can sort a list in-place (without creating a new object) by calling its sort function:
a=[1,2,5,90,3,4,5,20,10]

In [95]:
a.sort()

In [96]:
a

[1, 2, 3, 4, 5, 5, 10, 20, 90]

sort has a few options that will occasionally come in handy. One is the ability to pass a secondary sort key—that is, a function that produces a value to use to sort the objects. For example, we could sort a collection of strings by their lengths:

In [97]:
lis=['java','c','c++','pascal','python']

In [98]:
lis.sort(key=len)

In [99]:
lis

['c', 'c++', 'java', 'pascal', 'python']

Slicing:-
You can select sections of most sequence types by using slice notation, which in its basic form consists of start:stop passed to the indexing operator []:

In [100]:
lis=[1,23,4,5,6,78,90,12,45,67,89]

In [101]:
lis[1:5]

[23, 4, 5, 6]

In [102]:
#Slices can also be assigned to with a sequence:
lis[3:4]=[100,103]

In [103]:
lis

[1, 23, 4, 100, 103, 6, 78, 90, 12, 45, 67, 89]

In [104]:
lis[1:5]=[101,102,103,104]

In [105]:
lis

[1, 101, 102, 103, 104, 6, 78, 90, 12, 45, 67, 89]

While the element at the start index is included, the stop index is not included, so that the number of elements in the result is stop - start.

Either the start or stop can be omitted, in which case they default to the start of the sequence and the end of the sequence, respectively:

In [106]:
lis[:5]

[1, 101, 102, 103, 104]

In [107]:
lis[3:]

[103, 104, 6, 78, 90, 12, 45, 67, 89]

In [3]:
#Negative indices slice the sequence relative to the end:
lis=[1,2,3,4,6,7,9,8]

In [4]:
lis[:-2]

[1, 2, 3, 4, 6, 7]

In [5]:
lis[-2:]

[9, 8]

In [6]:
lis[-6:-2]

[3, 4, 6, 7]

In [7]:
#A step can also be used after a second colon to, say, take every other element:
lis[::2]

[1, 3, 6, 9]

In [8]:
#A clever use of this is to pass -1, which has the useful effect of reversing a list or tuple:
lis[::-1]

[8, 9, 7, 6, 4, 3, 2, 1]

# built-in sequence function

Python has a built-in function, enumerate, which returns sequence of (i, value) tuples:
enumerate:

It’s common when iterating over a sequence to want to keep track of the index of the current item. A do-it-yourself approach would look like:
i=0
for value in collections:
    do something with values
    i+=1

syntex of enumerate 
for i, value in enumerate(collections):
    #do something with value 
    pass

When you are indexing data, a helpful pattern that uses enumerate is computing a dict mapping the values of a sequence (which are assumed to be unique) to their locations in the sequence:

In [16]:
lis=['java','python', 'c#','pascal','C']
mapping={}
for i, value in enumerate(lis):
    mapping[value]=i

In [17]:
mapping

{'java': 0, 'python': 1, 'c#': 2, 'pascal': 3, 'C': 4}

sorted()
The sorted function returns a new sorted list from the elements of any sequence:

In [18]:
sorted(lis)

['C', 'c#', 'java', 'pascal', 'python']

In [20]:
sorted((1,9,8,0,-1,10,2,3))

[-1, 0, 1, 2, 3, 8, 9, 10]

In [21]:
sorted('hello python')

[' ', 'e', 'h', 'h', 'l', 'l', 'n', 'o', 'o', 'p', 't', 'y']

zip()
zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples:

In [23]:
lis1=[1,2,3,1,3,14]

In [24]:
lis2=[10,11,2,13,14]

In [25]:
zipped=zip(lis1,lis2)

In [26]:
zipped

In [31]:
list(zipped)

TypeError: 'list' object is not callable

zip can take an arbitrary number of sequences, and the number of elements it produces is determined by the shortest sequence:

In [32]:
s=[1,2,3,5]
s1=['java','python','c','pascal']
s2=[True,False]

In [1]:
z=zip(s,s1,s2)

NameError: name 's' is not defined

In [34]:
list(z)

TypeError: 'list' object is not callable

reversed
reversed iterates over the elements of a sequence in reverse order:

In [35]:
s

[1, 2, 3, 5]

In [36]:
reversed(s)

In [37]:
list(reversed(s))

TypeError: 'list' object is not callable

In [38]:
for i in reversed(s):
    print(i)

5
3
2
1

dict
dict is likely the most important built-in Python data structure. A more common
name for it is hash map or associative array. It is a flexibly sized collection of key-value pairs, where key and value are Python objects. One approach for creating one is to use curly braces {} and colons to separate keys and values:

In [40]:
dic={}
dic1={1:'java',2:'python'}
dic2={'a':10,'b':[1,2,3,4,]}

In [41]:
dic
dic1
dic2

{'a': 10, 'b': [1, 2, 3, 4]}

In [42]:
dic

{}

In [43]:
dic2

{'a': 10, 'b': [1, 2, 3, 4]}

You can access, insert, or set elements using the same syntax as for accessing elements of a list or tuple:

In [45]:
dic2['a']

10

In [46]:
dic1

{1: 'java', 2: 'python'}

In [47]:
dic1[1]='c'

In [48]:
dic1

{1: 'c', 2: 'python'}

In [49]:
dic['0']='python'

In [50]:
dic

{'0': 'python'}

You can check if a dict contains a key using the same syntax used for checking
whether a list or tuple contains a value:

In [51]:
0 in dic

False

In [52]:
'0' in dic

True

You can delete values either using the del keyword or the pop method (which simultaneously returns the value and deletes the key):

In [53]:
dic

{'0': 'python'}

In [54]:
dic[1]='pascal'

In [55]:
dic[2]='java'

In [56]:
dic

{'0': 'python', 1: 'pascal', 2: 'java'}

In [58]:
del dic['0']

In [59]:
dic

{1: 'pascal', 2: 'java'}

In [61]:
dic.pop(1)

'pascal'

In [62]:
dic

{2: 'java'}

The keys and values method give you iterators of the dict’s keys and values, respectively. While the key-value pairs are not in any particular order, these functions output the keys and values in the same order:

In [63]:
dic1

{1: 'c', 2: 'python'}

In [64]:
dic2

{'a': 10, 'b': [1, 2, 3, 4]}

In [66]:
dic2['c']=100

In [67]:
dic2['d']=200

In [68]:
dic2

{'a': 10, 'b': [1, 2, 3, 4], 'c': 100, 'd': 200}

In [69]:
list(dic2.keys())

TypeError: 'list' object is not callable

You can merge one dict into another using the update method:

In [70]:
dic

{2: 'java'}

In [71]:
dic2

{'a': 10, 'b': [1, 2, 3, 4], 'c': 100, 'd': 200}

In [73]:
dic.update(dic2)

In [74]:
dic

{2: 'java', 'a': 10, 'b': [1, 2, 3, 4], 'c': 100, 'd': 200}

The update method changes dicts in-place, so any existing keys in the data passed to update will have their old values discarded.

In [75]:
dic1

{1: 'c', 2: 'python'}

In [76]:
dic.update(dic1)

In [77]:
dic

{2: 'python', 'a': 10, 'b': [1, 2, 3, 4], 'c': 100, 'd': 200, 1: 'c'}

Creating dicts from sequences
It’s common to occasionally end up with two sequences that you want to pair up
element-wise in a dict. As a first cut, you might write code like this:

In [78]:
key_list=[1,2,3]

In [83]:
value_list=['java','python','c','pascal']

In [84]:
mapping={}

In [85]:
for key,value in zip(key_list,value_list):
    mapping[key]=value

In [86]:
mapping

{1: 'java', 2: 'python', 3: 'c'}

Since a dict is essentially a collection of 2-tuples, the dict function accepts a list of 2-tuples:

In [91]:
mapping=dict(zip(range(10),(i**3 for i in range(10))))

In [92]:
mapping

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

Default values
It’s very common to have logic like:
if key in some_dict:
 value = some_dict[key]
else:
 value = default_value
 
Thus, the dict methods get and pop can take a default value to be returned, so that the above if-else block can be written simply as:

value = some_dict.get(key, default_value)

get by default will return None if the key is not present, while pop will raise an exception. With setting values, a common case is for the values in a dict to be other collections, like lists. For example, you could imagine categorizing a list of words by their first letters as a dict of lists:

In [93]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [94]:
mapping={}

In [95]:
for word in words:
    letter=word[0]
    if letter not in mapping:
        mapping[letter]=[word]
    else:
        mapping[letter].append(word)

In [96]:
mapping

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

The setdefault dict method is for precisely this purpose. The preceding for loop can be rewritten as:

for word in words:
 letter = word[0]
 mapping.setdefault(letter, []).append(word)

Valid dict key types
While the values of a dict can be any Python object, the keys generally have to be immutable objects like scalar types (int, float, string) or tuples (all the objects in the tuple need to be immutable, too). The technical term here is hashability. You can check whether an object is hashable (can be used as a key in a dict) with the hash function:

set
A set is an unordered collection of unique elements. You can think of them like dicts,but keys only, no values. A set can be created in two ways: via the set function or via a set literal with curly braces:

In [97]:
s=set([1,2,3,12,3,1])

In [98]:
s

{1, 2, 3, 12}

In [99]:
a={1,2,3,4,8}

In [100]:
a

{1, 2, 3, 4, 8}

Sets support mathematical set operations like union, intersection, difference, and symmetric difference. Consider these two example sets:

In [101]:
a = {1, 2, 3, 4, 5}

In [102]:
b = {3, 4, 5, 6, 7, 8}

The union of these two sets is the set of distinct elements occurring in either set. This can be computed with either the union method or the | binary operator:

In [103]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [104]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

The intersection contains the elements occurring in both sets. The & operator or the intersection method can be used:

In [105]:
a.intersection(b)

{3, 4, 5}

In [106]:
a&b

{3, 4, 5}

All of the logical set operations have in-place counterparts, which enable you to replace the contents of the set on the left side of the operation with the result. For very large sets, this may be more efficient:

In [107]:
c=a.copy()

In [108]:
c |=b

In [109]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [112]:
d=a.copy()

In [113]:
d

{1, 2, 3, 4, 5}

In [114]:
d &=b

In [115]:
d

{3, 4, 5}

Like dicts, set elements generally must be immutable. To have list-like elements, you must convert it to a tuple:

You can also check if a set is a subset of (is contained in) or a superset of (contains all elements of) another set:

In [116]:
a_set = {1, 2, 3, 4, 5}

In [117]:
{1, 2, 3}.issubset(a_set)

True

In [118]:
a_set.issuperset({1, 2, 3})

True

Sets are equal if and only if their contents are equal:

In [120]:
{1, 2, 3} == {3, 2, 1}

True

List, Set, and Dict Comprehensions
List comprehensions are one of the most-loved Python language features. They allow you to concisely form a new list by filtering the elements of a collection, transforming the elements passing the filter in one concise expression. They take the basic form:

[expr for val in collection if condition]

This is equivalent to the following for loop:
    result = []
       for val in collection:
           if condition:
              result.append(expr)
              
The filter condition can be omitted, leaving only the expression. For example, given a list of strings, we could filter out strings with length 2 or less and also convert them to uppercase like this:

In [1]:
strings=['bat','java','python','pascal','c','ruby']

In [3]:
[x.upper() for x in strings if len(x)>2]

['BAT', 'JAVA', 'PYTHON', 'PASCAL', 'RUBY']

Set and dict comprehensions are a natural extension, producing sets and dicts in an idiomatically similar way instead of lists. A dict comprehension looks like this:

dict_comp = {key-expr : value-expr for value in collection if condition}

A set comprehension looks like the equivalent list comprehension except with curly braces instead of square brackets:

set_comp = {expr for value in collection if condition}

Like list comprehensions, set and dict comprehensions are mostly conveniences, but they similarly can make code both easier to write and read. Consider the list of strings from before. Suppose we wanted a set containing just the lengths of the strings contained in the collection; we could easily compute this using a set comprehension:

In [4]:
unique_len={len(x) for x in strings }

In [6]:
unique_len

{1, 3, 4, 6}

Even we can do the same this via map function also

In [7]:
set(map(len,strings))

{1, 3, 4, 6}

As a simple dict comprehension example, we could create a lookup map of these
strings to their locations in the list:

In [9]:
mapping={val: index for index, val in enumerate(strings) }

In [10]:
mapping

{'bat': 0, 'java': 1, 'python': 2, 'pascal': 3, 'c': 4, 'ruby': 5}

Nested list comprehensions
Suppose we have a list of lists containing some English and Spanish names:

In [12]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

You might have gotten these names from a couple of files and decided to organize them by language. Now, suppose we wanted to get a single list containing all names with two or more e’s in them. We could certainly do this with a simple for loop:

In [13]:
names_of_interest = []
for names in all_data:
 enough_es = [name for name in names if name.count('e') >= 2]
 names_of_interest.extend(enough_es)

In [15]:
names_of_interest

['Steven']

In [18]:
result=[name for names in all_data for name in names if name.count('e')>=2]

In [19]:
result

['Steven']

At first, nested list comprehensions are a bit hard to wrap your head around. The for parts of the list comprehension are arranged according to the order of nesting, and any filter condition is put at the end as before. Here is another example where we “flatten” a list of tuples of integers into a simple list of integers:

In [20]:
some_tuples=[(1,2,3,4,5),(10,11,13,14,15),(100,101,102,103)]

In [22]:
flatten=[num for tup in some_tuples for num in tup]

In [23]:
flatten

[1, 2, 3, 4, 5, 10, 11, 13, 14, 15, 100, 101, 102, 103]

Keep in mind that the order of the for expressions would be the same if you wrote a nested for loop instead of a list comprehension:

    flattened = []
    for tup in some_tuples:
     for x in tup:
     flattened.append(x)

You can have arbitrarily many levels of nesting, though if you have more than two or three levels of nesting you should probably start to question whether this makes sense from a code readability standpoint. It’s important to distinguish the syntax just shown from a list comprehension inside a list comprehension, which is also perfectly valid:

In [24]:
res=[[x for x in tup] for tup in some_tuples]

In [25]:
res

[[1, 2, 3, 4, 5], [10, 11, 13, 14, 15], [100, 101, 102, 103]]