# data structure in python 
Tuple: Tuple is fixed length, immutable sequence python object. The easiest way to create a tuple is comma seperated sequence of values

In [1]:
tup=1,2,34,5

In [2]:
tup

(1, 2, 34, 5)

In [3]:
nested_tup=(1,2,3,4,5),(10,90)

In [4]:
nested_tup

((1, 2, 3, 4, 5), (10, 90))

An iterator can be converted to tuple by invoking tuple constructor

In [5]:
tup1=tuple([1,2,4,56,67])

In [6]:
tup1

(1, 2, 4, 56, 67)

In [7]:
s="hello"
tup_s=tuple(s)

In [8]:
tup_s

('h', 'e', 'l', 'l', 'o')

Elements can be accessed with square bracket

In [9]:
tup_s[0],tup_s[2]

('h', 'l')

Objects stored in tuple may be muttable but once the tuple is created it's not possible to modify which object is stored in each slots.

In [10]:
tup_n=(1,2,4,("hello","python"),False)

In [11]:
tup_n[2]=True # not possible

TypeError: 'tuple' object does not support item assignment

Tuple can be concatenabted by + operator

In [12]:
t=tup+tup_n

In [13]:
t

(1, 2, 34, 5, 1, 2, 4, ('hello', 'python'), False)

multiply a tuple by an integer, has the effect by concatenating the together that many copies of tuple

In [14]:
t1=(1,2,4,5)
t1*4

(1, 2, 4, 5, 1, 2, 4, 5, 1, 2, 4, 5, 1, 2, 4, 5)

*Note that the objects themselves are not copied, but reference to them

Unpacking tuples: if we try to assigns a tuples-like expression of varibales, python will a Python will attempt to unpack the value on the righthand side of the equals sign:

In [15]:
t2=(12,13,14)
a,b,c=t2

In [16]:
a

12

In [17]:
c

14

Even sequences with nested tuples can be unpacked:

In [18]:
tup2=(1,23,4,('hello','python'))

In [19]:
a,b,c,(d,e)=tup2

In [20]:
d

'hello'

In [23]:
#swaping variable 
a=10
b=90
temp=a
a=b
b=temp

In [24]:
a,b

(90, 10)

In [25]:
#swaoing using tuple
a=100
b=90
a,b=b,a

In [26]:
a,b

(90, 100)

In [29]:
#Even sequences with nested tuples can be unpacked:
lis=[(1,2,3),(4,5,6),(7,8,9)]
for a,b,c in lis:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

The Python language recently acquired some more advanced tuple unpacking to help with situations where you may want to “pluck” a few elements from the beginning of a tuple. This uses the special syntax *rest, which is also used in function signatures to capture an arbitrarily long list of positional arguments: